<%- include ('../includes/header.ejs', {titulo: 'painel usuario'}) %>

<main>
    <h2>Usuarios</h2>
    <a href="/usuarios/novo" class="btn btn-principal">Adicionar Usuarios</a>

        <table class="dado-table">
            <thead>
                <tr>
                    <th>Nome</th>
                    <th>Senha</th>
                    <th>Email</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for (let usuario of dadosusuarios) { %>
                <tr>
                    <td><%= usuario.nome %></td>
                    <td><%= usuario.senha %></td>
                    <td><%= usuario.email %></td>
                    <td class="acoes">
                        <a href="/usuarios/editar/<%= usuario.id_usuario %>" class="btn btn-edit">Editar</a>
                        <form action="/usuarios/excluir/<%= usuario.id_usuario %>" method="post">
                            <button type="submit" class="btn btn-delete">Excluir</button>
                        </form>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
</main>


<%- include ('../includes/footer.ejs') %>