<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eco Moda</title>
    <link rel="stylesheet" href="../css/adm.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    
    <main>
 <div class="main-wrapper">
        <aside class="sidebar">
            <h2>Lista de Produtos</h2>
            <nav class="sidebar-nav">
                <ul>
                    <a href="/produtos/novo" class="btn btn-principal">Adicionar Produto</a>
                    <li><a href="../admin/dashboard" class="sidebar-link" data-content="dashboard-content">Dashboard</a></li>
                    <li><a href="../produtos/listar" class="sidebar-link active" data-content="produtos-content">Produtos</a></li>
                    <li><a href="../categorias/listar" class="sidebar-link" data-content="categorias-content">Categorias</a></li>
                    <li><a href="../usuarios/listar" class="sidebar-link" data-content="relatorios-content">Usuarios</a></li>
                    <li><a href="#" class="sidebar-link" data-content="configuracoes-content">Configurações</a></li>
                </ul>
            </nav>
        </aside>

         <section class="lista-cards">
            <% for (let produtos of dadosProdutos ) {%>
                <div class="card-aluno">
                    <img src="<%= produtos.imagem_produto %>">
                    <h2>
                        <%= produtos.nome_produto %>
                    </h2>
                    <h3>
                        <%= produtos.valor %>
                    </h3>
                    <p>
                        <%= produtos.nome_categoria %>
                    </p>
                    <a href="/produtos/editar/<%= produtos.id_produto %>" class="btn btn-edit">Editar</a>
                    <form action="/produtos/excluir/<%= produtos.id_produto %>" method="post">
                        <button type="submit" class="btn btn-delete">Excluir</button>
                </div>
                <% } %>

        </section>
    </div>
       

        <!-- <table class="dado-table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nome</th>
                    <th>Categoria</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <% for (let produtos of dadosProdutos) { %>
                    <tr>
                        <td> <img src="<%= produtos.imagem_produto %>" width="50"></td>
                        <td>
                            <%= produtos.nome_produto %>
                        </td>
                        <td>
                            <%= produtos.nome_categoria %>
                        </td>
                        <td class="acoes">
                            <a href="/produtos/editar/<%= produtos.id_produto %>" class="btn btn-edit">Editar</a>
                            <form action="/produtos/excluir/<%= produtos.id_produto %>" method="POST">
                                <button type="submit" class="btn btn-delete">excluir</button>

                            </form>
                        </td>
                    </tr>
                    <% } %>
            </tbody>
        </table> -->
    </main>

    <%- include ('../includes/footer.ejs') %>